
{%extends "dashboard.html"%}
{% block content%}
        
        

<table class="table table-dark" style="width: 600px; margin:auto; border: 2px solid black; border-collapse: collapse;">
       

    <form action="" method="POST" novalidate>
     {{form.hidden_tag()}}
   
        <h2><center>Add Resource</center></h2>
        {%with messages=get_flashed_messages()%}
        {%if messages%}
        <ul>
        {%for message in messages%}
            <li>{{message}}</li>
        {%endfor%}
        </ul>
        {%endif%}
        {%endwith%}
       
        <tr>
        <td>{{form.res_name.label}}</td><td>{{form.res_name(size=32,autofocus=True)}}
        {% for error in form.res_name.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
        <td>
        {{form.res_capacity.label}}</td><td>{{form.res_capacity(size=32)}}
        {% for error in form.res_capacity.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
      <td>
        {{form.res_status.label}}</td><td>{{form.res_status(size=32)}}
        {% for error in form.res_status.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
        <td>
        {{form.res_rent.label}}</td><td>{{form.res_rent(size=32)}}
        {% for error in form.res_rent.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
      <td>
        {{form.type_of_use.label}}</td><td>{{form.type_of_use(size=32)}}
        {% for error in form.type_of_use.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
       </td>
    </tr>
    <tr>
        <td>
        {{form.submit()}}
    </td>

  </tr>

 <tr><td><a class="btn btn-primary" href="{{url_for('view_resource')}}">Back</a></td></tr>
</table>

</form>
{%endblock%}