{%extends "dashboard.html"%}
{% block content%}
        

<table class="table table-dark" style="width: 600px; margin:auto; border: 2px solid black; border-collapse: collapse;">
       

    <form action="" method="POST" novalidate>
     {{form.hidden_tag()}}
   
        <h2><center>Add Batch</center></h2>
        {%with messages=get_flashed_messages()%}
        {%if messages%}
        <ul>
        {%for message in messages%}
            <li>{{message}}</li>
        {%endfor%}
        </ul>
        {%endif%}
        {%endwith%}
       
        <tr>
        <td>{{form.batch_name.label}}</td><td>{{form.batch_name(size=32,autofocus=True)}}
        {% for error in form.batch_name.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
        <td>
        {{form.start_date.label}}</td><td>{{form.start_date(size=32)}}
        {% for error in form.start_date.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
      <td>
        {{form.end_date.label}}</td><td>{{form.end_date(size=32)}}
        {% for error in form.end_date.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
        <td>
        {{form.b_status.label}}</td><td>{{form.b_status(size=32)}}
        {% for error in form.b_status.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td>{{form.coursename.label}}</td><td>{{form.coursename}}
    {% for error in form.coursename.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}</td>
    </tr>
<td>{{form.res_name.label}}</td><td>{{form.res_name}}
    {% for error in form.res_name.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}</td>
     </tr>
    <tr>
        <td>
        {{form.submit()}}
    </td>

  </tr>

 <tr><td><a class="btn btn-primary" href="{{url_for('display_batchs')}}">BACK</a></td></tr>
</table>

</form>
{%endblock%}