{%extends "dashboard.html"%}
{% block content %}

     <h1>FAITH INFOTECH COURSE MANAGEMENT</h1>
     
<table class="table table-dark">

    <tr>
        <th>Id</th>
        <th>Course Name</th>
        <th>Course Duration (Weeeks)</th>
        <th>Course Fee</th>
        <th>Course Status</th>
        <th>Course Discription</th>
        <th>Edit</th>
     </tr>
     {% for course in courses %}
        <tr>
            <td>{{course._id}}</td>
            <td>{{course.coursename}}</td>
            <td>{{course.courseduration}}</td>
            <td>{{course.coursefee}}</td>
            <td>{{course.coursestatus}}</td>
            <td>{{course.coursediscription}}</td>
            <td><a href="{{url_for('modify_course',a=course._id)}}">Edit</a></td>
         </tr>
       {% endfor %}
       <tr><td><a class="btn btn-primary" href="{{url_for('add_course')}}">Add Course</a></td></tr>
         </table>
      
         
{% endblock %}