<!DOCTYPE html>
<html>
    <head>
        <title>Enquiry List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
<body>
<h3>Customer Details</h3>
<table class="table table-bordered">
    <thead class="thead thead-dark">
        <th>ID</th>
        <th>NAME</th>
        <th>STATUS</th>
        <th>Mobile</th>
        <th>Interested Course</th>
        <th>Qualification</th>
        <th>Year of Passout</th>
        <th>Place</th>
        <th>ACTION</th>
    </thead>  
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{customer._id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.status}}</td>
        <td>{{customer.phone_number}}</td>
        <td>{{customer.course}}</td>
        <td>{{customer.qualification}}</td>
        <td>{{customer.passout_year}}</td>
        <td>{{customer.place}}</td>
        <td><a href="{{url_for('update_customer',enquiry_id=customer._id)}}">Edit Status</a></td>
      
    </tr>
    {% endfor %}
</table>       
<p><a href="{{url_for('show_home')}}">Back</a></p>
</body>
</html>