{% extends "dashboard.html" %}
{%block content%}
<form action="{{url_for('enquiry')}}" method="POST" novalidate>
    {{form.hidden_tag()}}
    <h2><center>Add Enquiry</center></h2>
    {%with messages=get_flashed_messages()%}
    {%if messages%}
    <ul>
    {%for message in messages%}
        <li>{{message}}</li>
    {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
   
    <table class="table table-dark" style="width: 600px; margin:auto; border: 2px solid black; border-collapse: collapse;">
        
        
        <b>
        
        
         <tr>
             <td>   {{form.name.label}}{{form.name(size=32)}}</td>
             <td>   {% for error in form.name.errors %}
                     <span style="color:red;">{{error}}</span>
                 {% endfor %}</td>
        </tr>
        
        

            <tr>
           <td> {{form.email.label}}{{form.email(size=32)}}</td>
           <td>  {% for error in form.email.errors %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}</td>
            </tr>
        

            <tr>
                    <td>   {{form.passout_year.label}}{{form.passout_year(size=32)}}</td>
                    <td>   {% for error in form.passout_year.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
                </tr>

            <tr>
                    <td>  {{form.phone_number.label}}{{form.phone_number(size=32)}}</td>
                    <td> {% for error in form.phone_number.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
                </tr>


            <tr>
                    <td>    {{form.course.label}}{{form.course()}}</td>
              <td>  {% for error in form.course.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
                </tr>

            <tr>
               <td> {{form.qualification.label}}{{form.qualification()}}</td>
               <td>   {% for error in form.qualification.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
                </tr>

            <tr>
                    <td>  {{form.place.label}}{{form.place(size=32)}}</td>
                    <td>   {% for error in form.place.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
                </tr>

            <tr>
                    <td>  {{form.status.label}}{{form.status()}}</td>
                    <td>    {% for error in form.status.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}</td>
                </tr>
        
        <tr>
       <td class="btn btn-primary">{{form.submit()}}</td> 
        </tr>
    </b>

    
    </table>
</form>
{%endblock%}