
<p>menu diaplayed</p>

<!DOCTYPE html>
<html>
    <head>
        <title>Menu Page For Demo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
<body>
    <div class="container">
        <div class="col-10">
    <br><a class="btn btn-outline-primary btn-lg" href="{{url_for('enquiry')}}">Add Enquiry Form</a><br>
    <br><a class="btn btn-outline-primary btn-lg" href="{{url_for('enquiry_data')}}">Enquiry Details</a><br>
    <br><a class="btn btn-outline-primary btn-lg" href="{{url_for('enquirysearch')}}">Enquiry Search</a><br>
    <br><a class="btn btn-outline-primary btn-lg" href="{{url_for('Admissionhome')}}">Admission</a>
        </div>
    </div>
</body>
</html>

