{% extends "base.html" %}
{% block content %}
<fieldset>
<legend>Display Enquiries</legend>
<table class="table table-bordered">
    <thead class="thead thead-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Qualification</th>
        <th>Mobile</th>
        <th>Year of passout</th>
        <th>Email</th>
        <th>Course</th>
        <th>Status</th>
        <th>Action</th>

    </thead>
   {% for enquiry in e_data %}
        <tr>
            <td>{{enquiry._id}}</td>
            <td>{{enquiry.name}}</td>
            <td>{{enquiry.qualification}}</td>
            <td>{{enquiry.phone_number}}</td>
            <td>{{enquiry.passout_year}}</td>
            <td>{{enquiry.email}}</td>
            <td>{{enquiry.course}}</td>
            <td>{{enquiry.status}}</td>
            <td><a href="{{url_for('update_customer',enquiry_id=enquiry._id)}}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
</fieldset>
<p><a href="{{url_for('enquiry_data')}}">Back to home</a></p>
{% endblock %}